*
 {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
 }
  /* Cabeçalho */
  .header {
    background-color: #c3c325;
    text-align: center;
    padding: 15px;
    color: #fff;
  }

  .texto1 {
    display: block;
  }

  .texto2 {
    display: none;
  }
  
  /* Grid de produtos */
  .container {
    background-color: #eee;
    min-height: 60vh;
    padding: 50px;
  }
  
  .products-container{
    max-width: 1200px;
    margin: 0 auto;
  }

  .card {
    width: 31%;
    margin: 1% 1%;
    display: inline-block;
    padding: 15px;
    transition: transform 0.2s; 
  }
  .card1 {
    width: 31%;
    margin: 1% 1%;
    display: inline-block;
    padding: 15px;
    border-width: 1px !important;
    border: 1px solid #c7c229;
    border-radius: 3%;
    transition: transform 0.2s;
  }

  .card:hover{
    transform: scale(1.1); 
}
  
.card1:hover {
    transform: scale(1.1); 
}
  
  .product-image {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    
  }
  
  #img-1 {
    background-image: url('../img/cerveja1.png');
    background-size: 60%;
    background-repeat: no-repeat;
  }
  
  #img-2 {
    background-image: url('../img/cerveja2.png');
    background-size: 90%;
    background-repeat: no-repeat;
  }
  
  #img-3 {
    background-image: url('../img/cerveja3.png');
    background-size: 50%;
    background-repeat: no-repeat;
  }
  
  
  #img-4 {
    background-image: url('../img/cerveja4.png');
    background-size: 50%;
    background-repeat: no-repeat;
  }
  
  #img-5 {
    background-image: url('../img/cerveja5.png');
    background-size: 90%;
    background-repeat: no-repeat;
  }
  
  #img-6 {
    background-image: url('../img/cerveja6.png');
    background-size: 70%;
    background-repeat: no-repeat;
  }
  
  h3 { 
    margin-bottom: 10px;
    color: #3db36b;
    font-size: 24px;
  }

  h4 {
    margin-bottom: 10px;
    color: #c7c229;
    font-size: 24px;
  }

  h5 {
    margin-bottom: 10px;
    color: #c11d30;
    font-size: 24px;
  }
  
  
  .card p {
    margin-bottom: 10px;
  }

  .card1 p {
    margin-bottom: 10px;
  }
  
  
  .bold {
    font-weight: bold;
  }
  
  .btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #c3c325;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #337a4e;
  }
  
  /* Rodapé */
  footer {
    background-color: #c3c325;
    text-align: center;
    padding: 50px;
    color: #fff;
  }